{% extends "bootstrap/base.html" %}
{% block html_attribs %} lang="en" {% endblock %}
{%  block head %}
    {{super()}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
{% block title %}Files Page{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}
  <h1>Files</h1>
  <div class="container">
    <div class="row">
        <div class="col-12-xs">
            <h3>Bucket Files</h3>
            <hr>
            <table class="table table-striped">
                <tr>
                    <th>File Name</th>
                    <th>Last Modified</th>
                </tr>
                {% for f in files %}
                <tr>
                    <td>{{ f['Key'] }}</td>
                    <td>{{ f['LastModified'] }}</td>
                    <td>
                        <form class="download-form" action="{{ url_for('download') }}" method="post">
                            <input type="hidden" name="key" value="{{ f['Key'] }}">
                            <button type="submit" class="btn btn-default btn-sm">
                                <i class="fa fa-download"></i>
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}