<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/style.css">
    <title>Files Page</title>
</head>
<body>
    {% block content %}
    <form action="/" method="GET">
        <button type="submit">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </button>
    </form>
    <h1>Files</h1>
    <div class="container">
        <div class="row">
            <form action="{{ url_for('download') }}" method="post">
                <input type="hidden" name="key" value="all_keys">
                <label>Download All</label>
                <button type="submit">
                    <i class="fa fa-download"></i>
                </button>
            </form>
            <hr>
            <table>
                <tr>
                    <th>File Name</th>
                    <th>Last Modified</th>
                    <th>Download</th>
                </tr>
                {% for f in files %}
                    <tr>
                        <td>{{ f['Key'] }}</td>
                        <td>{{ f['LastModified'] }}</td>
                        <td>
                            <form action="{{ url_for('download') }}" method="post">
                                <input type="hidden" name="key" value="{{ f['Key'] }}">
                                <button type="submit">
                                    <i class="fa fa-download"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% endblock %}
</body>
</html>

    


