<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- <link rel="stylesheet" type="text/css" href="static/style.css" /> -->
  <title>Index Page</title>
</head>
<body>
    <h1>Notion Slack Bot Homepage</h1>
    <form method="post" action="/files">
        <input type="submit" value="S3 Files" name="S3 Files"/>
    </form> 
    <br>
    <form method="post" action="/display_data">
        <label for="statuses">Scatter Plot for Status:</label>
        <select id="statuses" name="statuses">
            {% for status in statuses %}
                <option value="{{ status }}">{{ status }}</option>
            {% endfor %}
        </select>
        <input type="checkbox" id="furthest" name="furthest" value="True">
        <label for="furthest">Furthest Points</label><br>
        <input type="submit" value="Plot">
    </form>
    <br>
    <form method="post" action="/sheets_data">
        <input type="submit" value="Sheets Changes Data" name="Sheets Changes Data">
    </form>
    <br>
    <form method="post" action="/run-data">
        <input type="submit" value="Run Status Calculations" name="Run Status Calculations">
        <label> Last run: {{ today }} (UTC)</label>
    </form>
    <span>Note: This will cause a timeout error, but it still runs all the calculations/data uploads in the background</span>
</body> 
</html> 
