<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Index Page</title>
</head>
<body>
    <h1>Notion Slack Bot Homepage</h1>
    <form method="post" action="/files">
        <input type="submit" value="S3 Files" name="S3 Files"/>
    </form>
    <br>
    <form method="post" action="/run-data">
        <label>Last run: {{ time }}</label>
        <input type="submit" value="Run Status Calculations" name="Run Status Calculations">
    </form>
</body>
</html>
