<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/style.css">
    <title>Google Sheets Changes Data</title>
</head>
<body>
    <div>
        <span>Go to full spreadsheet on </span>
        <a href="https://docs.google.com/spreadsheets/d/113xbeLosVwGYzEJlRIgpdNVvnDZmOI6RjAnxV6lZtIo/edit#gid=1453083169">Google Sheets</a>
    </div>
    <br><br>
    <div class="sheets_div">
       <iframe class="changes" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRoUVBT6XNYwlqHrZQCjfnRxk7vMDB3roQbti7yEwfD-PXlqUbtPD8OggXOqz1fVco46cvsFNIPDrsK/pubhtml?gid=1453083169&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
    </div>
    <br><br>
    <div class="sheets_div">
        <iframe class="changes" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRoUVBT6XNYwlqHrZQCjfnRxk7vMDB3roQbti7yEwfD-PXlqUbtPD8OggXOqz1fVco46cvsFNIPDrsK/pubhtml?gid=675369297&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
    </div>
</body>
</html>